// Variables
$bg_color: #D3FFB3;
$text_color: #212124;
$head_foot_color: #33AB5F;
$arti_bg_color: #93DCAE;
$arti_heading_color: #3A4A40;

/* <Universal> */
body {
    font-family: sans-serif;
    font-size: 120%;
    color: $text_color;
    background-color: $bg_color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

::selection {
    background-color: #CBC8DB;
}

img::selection {
    background-color: transparent;
}

/* <Anchor> */
a {
    text-decoration: none;
}

a:hover {
    color: $text_color;
    background-color: $bg_color;
    transition-duration: 0.5s;
}
/* </Anchor> */

/* <Header> */
header {
    background-color: $head_foot_color;
    font-size: 150%;
    overflow: hidden;

    p {
        float: left;
        color: $text_color;
        margin-left: 24px;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;

            li {
                float: left;

                a {
                    float: right;
                    color: #F5F4F2;
                    padding: 30px 24px;
                }
            }
        }
    }
}
/* </Header> */

/* <Article> */
article {
    clear: both;
    margin: 0px;
    padding: 50px;
}
/* </Article> */

/* <Footer> */
footer {
    background-color: $head_foot_color;
    height: 200px;
    margin-top: auto;
    h1 {
        float: left;
        color: $text_color;
        margin-left: 30px;
    }
}
/* </Footer> */
/* </Universal> */

/* <Index> */
article.HomeArticle0 {
    float: left;

    p {
        a:hover {
            background-color: $arti_bg_color;
        }
    }
}

aside img
{
    float: right;
    max-width: 280px;
    height: auto;
    margin-right: 100px;
    margin-bottom: 50px
}

article.HomeArticle1 {
    background-color: $arti_bg_color;
    text-align: center;
    color: $arti_heading_color;

    h2 {
        font-size: 300%;
    }
    
}

.card {
    display: inline-block;
    margin-right: 100px;
    width: 300px;
    background-color: #F8E382;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

#card2 {
    margin-right: -10px
}

section.HomeSection0 {
    padding: 40px;
    font-size: 200%;

    h1 {
        color: $arti_heading_color;
    }
}

a.button {
    border: 4px solid #006FAD;
    border-radius: 100vmax;
    padding: 16px 32px;
    font-size: 25px;
    font-weight: bold;
    background-color: #FDFBF7;
    cursor: pointer;
    transition-duration: 0.8s;

    &:hover {
        background-color: #006FAD;
        color: #FDFBF7;
    }

    &:visited {
        color: $text_color;
    }
}

section.HomeSection1 {
    background-color: $arti_bg_color;
    color: $arti_heading_color;
    font-size: 200%;
    margin-bottom: 0px;
}

/* .container {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden; 
  }
  
.container > a {
    background-color: blue;
    padding: 1em;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative; 
    clip-path: inset(0px 100% 0px 0px); 
    transition: clip-path 0.5s ease-in-out; 
  }
  
.container > a:hover {
    clip-path: inset(0px 0px 0px 0px); 
} */
/* </Index> */


/* <About> */
main.AboutMain{
    article {
        margin: 0;
        padding: 150px 0px 0px 150px;
        background-size: cover;
        background-repeat: no-repeat;

        div.AboutDescription {
            width: 450px;
            background-color: rgba(255, 255, 173, 0.7);
        }

        &.AboutArticle0 {
            margin-top: 50px;
            height: 400px;
            background-image: url('images/Sword Lake1.jpg');
        }

        &.AboutArticle1 {
            height: 450px;
            background-image: url('images/Flinders Street Station1.jpg');
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 20px 0px;

    #Social {
        ul {
            list-style-type: none;
            overflow: hidden;

            li {
                margin-right: 40px;
                float: left;

                a {
                    float: right;
                }
            }
        }
    }
}
/* </About> */

/* <Features> */
/* </Features> */

/* <Portfolio> */
/* </Portfolio> */

/* <Feedback> */
section.FeedbackSection0 {
    text-align: center;
}

article.FormArticle0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    label {
        display: inline-block;
        width: 160px;
    }
}

span.ast {
    color: red;
}

div.comment {
    display: flex;
    flex-direction: row;

    label,
    textarea {
        margin-top: 20px;
    }
}

div.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    input {
        padding: 5px 15px;
        margin: 20px 25px;
    }
}
/* </Feedback> */