/* <Universal> */
div.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  /* <Link> */
  /* </Link> */
}
div.App main {
  flex: 1;
}
div.App a {
  text-decoration: none;
}
div.App a:hover {
  color: #212124;
  background-color: #D3FFB3;
  transition-duration: 0.5s;
}
div.App a.logo {
  float: left;
  margin: 26px 0px 0px 26px;
}
div.App a.logo:hover {
  background-color: transparent;
}

::-moz-selection {
  background-color: #CBC8DB;
}

::selection {
  background-color: #CBC8DB;
}

img::-moz-selection {
  background-color: transparent;
}

img::selection {
  background-color: transparent;
}

/* <Header> */
header {
  background-color: #33AB5F;
  font-size: 150%;
  overflow: hidden;
}
header nav {
  float: right;
}
header nav ul {
  list-style-type: none;
  margin: 0;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  float: right;
  color: #F5F4F2;
  padding: 40px 30px;
}
header nav ul li a.active {
  color: #212124;
  background-color: #D3FFB3;
}

/* </Header> */
/* <Article> */
article {
  clear: both;
  margin: 0px;
  padding: 50px;
}

/* </Article> */
/* <Footer> */
footer {
  flex-shrink: 0;
  width: 100%;
  background-color: #33AB5F;
  height: 200px;
}

/* </Footer> */
/* </Universal> */
/* <Index> */
article.HomeArticle0 {
  float: left;
}
article.HomeArticle0 p a {
  text-decoration: underline;
}
article.HomeArticle0 p a:hover {
  background-color: #93DCAE;
}

aside > img {
  float: right;
  max-width: 280px;
  height: auto;
  margin-right: 100px;
  margin-bottom: 50px;
}

article.HomeArticle1 {
  background-color: #93DCAE;
  text-align: center;
  color: #3A4A40;
}
article.HomeArticle1 h2 {
  font-size: 300%;
}
article.HomeArticle1 div.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
article.HomeArticle1 div.cards section.CardContainer {
  margin-right: 100px;
  width: 250px;
  min-height: 200px;
  background-color: #F8E382;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
article.HomeArticle1 div.cards section.CardContainer:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: #212124;
  background-color: #D3FFB3;
  transition-duration: 0.5s;
}
article.HomeArticle1 div.cards section.CardContainer a.card p {
  word-wrap: break-word;
  padding: 0px 40px;
}
article.HomeArticle1 div.cards #card2 {
  margin-right: -10px;
}

article.HomeArticle2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 200%;
  padding: 100px 0px;
}
article.HomeArticle2 h2 {
  color: #212124;
  margin: 0px 60px;
}
article.HomeArticle2 span.arrow {
  font-size: 200%;
  margin: 0px 10px 0px 110px;
}
article.HomeArticle2 button {
  margin-right: 100px;
  border: 8px solid #006FAD;
  border-radius: 5vmax;
  padding: 32px 64px;
  font-size: 25px;
  font-weight: bold;
  background-color: #FDFBF7;
  cursor: pointer;
  transition-duration: 0.8s;
}
article.HomeArticle2 button:hover {
  background-color: #006FAD;
  color: #FDFBF7;
}
article.HomeArticle2 button:visited {
  color: #212124;
}

article.HomeArticle3 {
  text-align: center;
  background-color: #93DCAE;
  color: #3A4A40;
  font-size: 200%;
  margin-bottom: 0px;
  padding: 50px 0px;
}

section.ExpandableBox {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}
section.ExpandableBox a:hover {
  background-color: transparent;
}
section.ExpandableBox a:visited {
  color: #212124;
}

div.box1,
div.box2 {
  position: relative;
  display: flex;
  white-space: nowrap;
  padding: 20px;
  background-color: #73AEFE;
  border-radius: 8px;
  cursor: pointer;
  transition: width 1.2s ease;
  overflow: hidden;
}
div.box1 span,
div.box2 span {
  position: relative;
  visibility: hidden;
}
div.box1:hover span,
div.box2:hover span {
  visibility: initial;
}

.box1 {
  justify-content: flex-end;
  width: 180px;
  right: 50%;
}
.box1:hover {
  width: 460px;
}

.box2 {
  justify-content: flex-start;
  width: 200px;
  left: 50%;
}
.box2:hover {
  width: 560px;
}

/* </Index> */
/* <About> */
main.AboutMain article {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
main.AboutMain article section.AboutDescription {
  width: 450px;
  background-color: rgba(255, 255, 173, 0.7);
}
main.AboutMain article.AboutArticle0 {
  padding: 150px 0px 0px 150px;
  margin-top: 50px;
  height: 400px;
  background-image: url("images/Sword Lake1.jpg");
}
main.AboutMain article.AboutArticle1 {
  padding: 150px 0px 0px 150px;
  height: 450px;
  background-image: url("images/Flinders Street Station1.jpg");
}
main.AboutMain article.AboutArticle2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 45px 0px;
}
main.AboutMain article.AboutArticle2 #Social ul {
  list-style-type: none;
  overflow: hidden;
}
main.AboutMain article.AboutArticle2 #Social ul li {
  margin-right: 40px;
  float: left;
}
main.AboutMain article.AboutArticle2 #Social ul li a {
  float: right;
}

/* </About> */
/* <Portfolio> */
/* </Portfolio> */
/* <Feedback> */
section.FeedbackSection0 {
  text-align: center;
}

article.FormArticle0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset label {
  display: inline-block;
  width: 160px;
}

span.ast {
  color: red;
}

section.comment {
  display: flex;
  flex-direction: row;
}
section.comment label,
section.comment textarea {
  margin-top: 20px;
}

section.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.submit input {
  padding: 5px 15px;
  margin: 20px 25px;
}

/* </Feedback> *//*# sourceMappingURL=App.css.map */