// Variables
$bg_color: #D3FFB3;
$text_color: #212124;
$head_foot_color: #33AB5F;
$arti_bg_color: #93DCAE;
$arti_heading_color: #3A4A40;

/* <Universal> */
div.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    main {
        flex: 1;
    }

    /* <Link> */
    a {
        text-decoration: none;

        &:hover {
            color: $text_color;
        background-color: $bg_color;
        transition-duration: 0.5s;
        }

        &.logo {
            float: left;
            margin: 26px 0px 0px 26px;

            &:hover {
                background-color: transparent;
            }
        }
    }
    /* </Link> */
}

::selection {
    background-color: #CBC8DB;
}

img::selection {
    background-color: transparent;
}

/* <Header> */
header {
    background-color: $head_foot_color;
    font-size: 150%;
    overflow: hidden;

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;

            li {
                float: left;

                a {
                    float: right;
                    color: #F5F4F2;
                    padding: 40px 30px;

                    &.active {
                        color: $text_color;
                        background-color: $bg_color;
                    }
                }
            }
        }
    }
}
/* </Header> */

/* <Article> */
article {
    clear: both;
    margin: 0px;
    padding: 50px;
}
/* </Article> */

/* <Footer> */
footer {
    flex-shrink: 0;
    width: 100%;
    background-color: $head_foot_color;
    height: 200px;
}
/* </Footer> */
/* </Universal> */

/* <Index> */
article.HomeArticle0 {
    float: left;

    p {
        a {
            text-decoration: underline;

            &:hover {
                background-color: $arti_bg_color;
            }
        }
    }
}

aside > img
{
    float: right;
    max-width: 280px;
    height: auto;
    margin-right: 100px;
    margin-bottom: 50px
}

article.HomeArticle1 {
    background-color: $arti_bg_color;
    text-align: center;
    color: $arti_heading_color;

    h2 {
        font-size: 300%;
    }

    div.cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        section.CardContainer {
            margin-right: 100px;
            width: 250px;
            min-height: 200px;
            background-color: #F8E382;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        
            &:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                color: $text_color;
                background-color: $bg_color;
                transition-duration: 0.5s;
            }
        
            a.card {
                p {
                    word-wrap: break-word;
                    padding: 0px 40px;
                }
            }
        }

        #card2 {
            margin-right: -10px
        }
    }
}

article.HomeArticle2 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 200%;
    padding: 100px 0px;

    h2 {
        color: $text_color;
        margin: 0px 60px;
    }

    span.arrow {
        font-size: 200%;
        margin: 0px 10px 0px 110px;
    }

    button {
        margin-right: 100px;
        border: 8px solid #006FAD;
        border-radius: 5vmax;
        padding: 32px 64px;
        font-size: 25px;
        font-weight: bold;
        background-color: #FDFBF7;
        cursor: pointer;
        transition-duration: 0.8s;
    
        &:hover {
            background-color: #006FAD;
            color: #FDFBF7;
        }
    
        &:visited {
            color: $text_color;
        }
    }
}

article.HomeArticle3 {
    text-align: center;
    background-color: $arti_bg_color;
    color: $arti_heading_color;
    font-size: 200%;
    margin-bottom: 0px;
}

/* .container {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden; 
  }
  
.container > a {
    background-color: blue;
    padding: 1em;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative; 
    clip-path: inset(0px 100% 0px 0px); 
    transition: clip-path 0.5s ease-in-out; 
  }
  
.container > a:hover {
    clip-path: inset(0px 0px 0px 0px); 
} */
/* </Index> */


/* <About> */
main.AboutMain{
    article {
        margin: 0;
        background-size: cover;
        background-repeat: no-repeat;

        section.AboutDescription {
            width: 450px;
            background-color: rgba(255, 255, 173, 0.7);
        }

        &.AboutArticle0 {
            padding: 150px 0px 0px 150px;
            margin-top: 50px;
            height: 400px;
            background-image: url('images/Sword Lake1.jpg');
        }

        &.AboutArticle1 {
            padding: 150px 0px 0px 150px;
            height: 450px;
            background-image: url('images/Flinders Street Station1.jpg');
        }

        &.AboutArticle2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px 0px 45px 0px;

            #Social {
                ul {
                    list-style-type: none;
                    overflow: hidden;

                    li {
                        margin-right: 40px;
                        float: left;

                        a {
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
/* </About> */

/* <Portfolio> */
/* </Portfolio> */

/* <Feedback> */
section.FeedbackSection0 {
    text-align: center;
}

article.FormArticle0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    label {
        display: inline-block;
        width: 160px;
    }
}

span.ast {
    color: red;
}

section.comment {
    display: flex;
    flex-direction: row;

    label,
    textarea {
        margin-top: 20px;
    }
}

section.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    input {
        padding: 5px 15px;
        margin: 20px 25px;
    }
}
/* </Feedback> */