body {
  margin: 0;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  font-size: 120%;
  color: #212124;
  background-color: #D3FFB3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}